* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*   outline: 3px dotted red; */
}

:root {
  --font-default: 'Montserrat', sans-serif;
  --font-paragraph: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-default);
  overflow: overlay;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(117, 21, 27, 0.7);
  border-radius: 20px;
}

section {
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #858585;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 0;
  font-family: var(--font-paragraph);
}

h1 {
  color: #151e1b;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #413e3e;
  margin-bottom: 0;
}

.btn {
  padding: 10.5px 30px;
  line-height: 22px;
  border-radius: 0;
}

.btn-red {
  color: white;
  background-color: #75151b;
  transition: all 0.3s ease-in-out;
}

.btn-red:hover {
  color: #75151b !important;
  background-color: white !important;
  border-color: transparent !important;
}

.btn-white {
  color: black;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.btn-white:hover {
  color: black !important;
  background-color: rgba(255, 255, 255, 0.7) !important;
  border-color: transparent !important;
}

.btn-green {
  color: white;
  background-color: #65a98c;
  transition: all 0.3s ease-in-out;
}

.btn-green:hover {
  color: white !important;
  background-color: rgba(101, 169, 140, 0.7) !important;
  border-color: transparent !important;
}

.btn-transp {
  color: white;
  background-color: transparent;
  border: 1.5px solid #ffffff;
  transition: all 0.3s ease-in-out;
}

.btn-transp:hover {
  color: black !important;
  background-color: white !important;
  border-color: transparent !important;
}

.mobile-options {
  display: none;
}

#navigation {
  position: absolute;
  width: 100vw;
  top: 0;
  z-index: 1000;
  background: transparent;
}

#navigation nav .nav-list {
  gap: 20px;
}

#navigation nav .nav-list > li a {
  padding: 15px 12px;
}

#navigation nav {
  height: 80px;
}

#navigation a {
  font-weight: 500;
  cursor: pointer;
  color: white;
  transition: color 0.4s ease-in-out;
  position: relative;
}

#navigation a.active,
#navigation li:hover > a {
  color: white;
}

#navigation li > a::after {
  content: '';
  width: 0;
  height: 4px;
  background-color: #75151b;
  position: absolute;
  bottom: 5px;
  left: 5px;
  border-radius: 100px;
  transition: width 0.3s ease;
}

#navigation a.active::after,
#navigation li:hover > a::after {
  width: 34px;
}

#navigation.fixed {
  background-color: #75151b !important;
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: top 0.5s ease-in-out;
}

#navigation.fixed li > a::after {
  background-color: white !important;
}

#home {
  height: 100vh;
  background-image: url(../img/bg-home.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#home .bg {
  padding-top: 80px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    89.97deg,
    #413e3e 44.03%,
    rgba(30, 29, 29, 0) 97.54%
  );
  display: flex;
  align-items: center;
}

#home h1,
#home h4,
#home p {
  color: white;
}

#service .validadtion-number {
  background-color: #75151b;
  padding-block: 40px;
}

#service .validadtion-number h3 {
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;
  color: white;
}

#service .validadtion-number p {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: white;
}

#service .validadtion-number .container {
  display: flex;
  justify-content: space-between;
}

#service .why-lemos {
  padding-block: 120px;
}

#service .why-lemos .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

#service .why-lemos .card {
  align-items: center;
  border: none;
}

#service .why-lemos .card h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #75151b;
}

#service .why-lemos .card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

#service .services {
  padding-block: 70px 100px;
}

#service .services .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
}

#service .services .card {
  padding: 76px 16px;
  background-color: #75151b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

#service .services .card h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: white;
}

#service .services .card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}

#banner {
  display: flex;
  align-items: center;
  height: 332px;
  background-image: url(../img/bg-banner.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#banner .container {
  padding-inline: 90px;
}

#banner h3 {
  font-family: var(--font-paragraph);
  font-weight: 500;
  font-size: 41.6311px;
  line-height: 50px;
  color: #ffffff;
}

#banner p {
  font-family: var(--font-paragraph);
  font-weight: 400;
  font-size: 26.0194px;
  line-height: 31px;
  color: #ffffff;
}

#about {
  padding-block: 120px;
}

#about .partners {
  margin-bottom: 190px;
}

#about .history .container {
  display: flex;
  align-items: flex-start;
}

#about .history-mobile,
#about .img-mobile {
  display: none;
}

#about .partners h2,
#about .history h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #75151b;
}

#about .history p {
  font-size: 16px;
  line-height: 30px;
}

#contact {
  padding-block: 80px 150px;
  position: relative;
  display: flex;
  align-items: center;
}

#contact h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #413e3e;
}

#contact h2 span {
  color: #75151b;
}

#contact p {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #413e3e;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li span {
  font-family: var(--font-paragraph);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #413e3e;
}

#contact .image {
  position: absolute;
  right: 0;
}

#contact .bg {
  position: absolute;
  width: 600px;
  height: 370px;
  background: #75151b;
  border-radius: 100px 0px 0px 100px;
  right: 0;
  margin-top: 60px;
}

#footer {
  background-color: #75151b;
  padding-block: 70px;
}

#footer .container {
  position: relative;
}

#footer .image {
  position: absolute;
  left: 0;
}

#footer .social {
  position: absolute;
  right: 0;
}

#footer .social li {
  display: flex;
  align-items: center;
}

#footer ul li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

/* Responsive */

@media screen and (min-width: 1600px) {
  #contact .bg {
    width: 40vw;
  }
  #contact .image {
    right: 10%;
  }
}

@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1200px) {
  /*   navbar mobile */
  #navigation nav .nav-list,
  #navigation nav .btn {
    display: none !important;
  }

  .mobile-options {
    display: flex;
    position: relative;
  }
  .mobile-options svg {
    cursor: pointer;
  }

  #home-body .nav-list-mobile {
    background: #e1ebe6;
  }

  #home-body .fixed .nav-list-mobile {
    background: white;
  }
  .nav-list-mobile {
    width: 266px;
    background: #75151b;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -280px;
    transition: all 0.5s ease;
    padding: 31px 36px;
  }
  .nav-list-mobile.open {
    right: 0;
  }
  .nav-list-mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 17px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 38px;
  }

  .nav-list-mobile-header svg {
    transform: rotate(180deg);
  }

  .nav-list-mobile-body .sub-nav-list .open {
    display: flex !important;
    flex-direction: column;
  }

  #navigation .nav-list-mobile-body li {
    position: relative;
  }

  #navigation .nav-list-mobile-body > li {
    margin-bottom: 32px;
  }
  #navigation .nav-list-mobile-body > li a {
    padding: 15px 12px;
  }

  #navigation .nav-list-mobile-body .sub-nav-list li {
    margin-top: 20px;
  }

  #navigation .nav-list-mobile-body li:hover::before {
    opacity: 1;
  }

  h1 {
    font-size: 40px;
    line-height: 49px;
  }

  #home h1 br {
    display: none;
  }

  #home h4 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.8);
  }

  #service .validadtion-number h3 {
    font-weight: 700;
    font-size: 24.2492px;
    line-height: 36px;
  }

  #service .validadtion-number p {
    font-weight: 700;
    font-size: 16.9745px;
    line-height: 19px;
  }

  #service .why-lemos {
    padding-block: 70px;
  }

  #service .why-lemos h2 {
    font-size: 28px;
    line-height: 34px;
  }

  #service .why-lemos .cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #service .why-lemos .card {
    width: 400px;
  }

  #service .why-lemos .card h4 {
    font-size: 20px;
    line-height: 24px;
  }

  #service .services {
    padding-block: 0 100px;
  }

  #service .services .cards {
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
  }

  #service .services .card {
    width: 400px;
  }

  #banner {
    height: 230px;
  }

  #banner .container {
    padding-inline: 0;
  }

  #banner .container > .d-flex {
    position: relative;
    justify-content: center;
  }

  #banner .image {
    position: absolute;
    opacity: 0.1;
    height: 100%;
  }

  #banner h3 {
    font-size: 32px;
    line-height: 39px;
  }

  #banner p {
    font-size: 16px;
    line-height: 19px;
  }

  #about {
    padding-block: 100px 90px;
  }

  #about .partners {
    margin-bottom: 100px;
  }

  #about .history {
    display: none;
  }

  #about .img-mobile {
    display: block;
  }

  #about .history-mobile {
    display: initial;
  }

  #about .history-mobile .container {
    display: flex;
    flex-direction: column;
  }

  #about .history-mobile .texts .hide {
    display: none;
  }

  #about .history-mobile .texts {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about .history-mobile .texts h2 {
    font-size: 28px;
    line-height: 34px;
    color: #75151b;
    font-weight: 700;
  }

  #about .history-mobile .texts h2.mar-b-8 {
    margin-bottom: 20px;
  }

  #about .history-mobile .texts p {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 32px;
  }

  #about .history-mobile .texts button {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #75151b;
    border: none;
    background-color: transparent;
  }

  #contact {
    padding-block: 0 100px;
    flex-direction: column;
  }

  #contact .bg {
    position: initial;
    width: 80%;
    align-self: end;
    margin-top: 80px;
  }

  #contact .image {
    bottom: 100px;
    right: 15%;
  }

  #footer {
    padding-block: 140px 70px;
  }

  #footer .image {
    top: -100px;
  }

  #footer .social {
    top: -90px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px;
    line-height: 49px;
  }

  #home h4 {
    text-align: center;
  }

  #home p br {
    display: none;
  }

  #service .validadtion-number .number {
    width: 33%;
  }

  #service .validadtion-number p,
  #service .validadtion-number h3 {
    text-align: center;
  }

  #service .validadtion-number p {
    font-size: 16px;
  }

  #service .why-lemos .card {
    width: 253px;
  }

  #service .services .card {
    width: 310px;
  }

  #about .partners .container > .d-flex {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  #contact h2 {
    font-size: 28px;
    line-height: 39px;
  }

  #contact .image {
    right: initial;
    left: 22%;
    width: 290px;
  }

  #contact .bg {
    height: 240px;
    width: 90%;
    border-radius: 66.0312px 0px 0px 66.0312px;
  }

  #footer .image {
    width: 186px;
  }

  #footer .social li.mar-e-6 {
    margin-right: 20px;
  }

  #footer .social li a {
    font-size: 16px;
  }

  #footer .menu .mar-e-5 {
    margin-right: 12px;
  }
}
